@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    overflow-x: hidden;
}

.container{
    background-color: #000000;
    height: 650px;
    width: 1528px;
    position: relative;
    right: 8px;
    bottom: 8px;

}


.logo{
    height: 350px;
    width: 350px;
    position: relative;
    bottom: 758px;
    right: 8px;
    transform: transition .2s;
}

.products{
    position: relative;
    bottom: 966px;
    left: 880px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-weight: 700;
    transition: transform .2s;
}

.products:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.vision{
    position: relative;
    bottom: 1008px;
    left: 1030px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ffffff;
    transition: transform .2s
}

.vision:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.contri{
    position: relative;
    bottom: 1050px;
    left: 1150px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ffffff;
    transition: transform .2s;
}

.contri:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.support{
    position: relative;
    bottom: 1092px;
    left: 1300px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ffffff;
    transition: transform .2s;
}

.support:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.back{
    width: 700px;
    height: 400px;
    position: relative;
    left: 800px;
    bottom: 1007px;
    transition: transform .2s;
}

.back:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.line{
    background-color: #ffffff;
    position: relative;
    bottom: 1466px;
    right: 100px;
    width: 1610px;
}

.form{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 60px;
    position: relative;
    bottom: 1430px;
    color: #ffffff;
    left: 150px;
}

.fill{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;
    position: relative;
    bottom: 1420px;
    left: 70px;
    color: #ffffff;


}

.first{
    font-family: 'Inter', sans-serif;
    color: #18224b;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    bottom: 1200px;
    left: 200px;

}

.name{
    position: relative;
    bottom: 1203px;
    left: 200px;
    height: 34px;
    font-size: 20px;
    width: 500px;
    border-radius: 5px;
    
}

.second{
    font-family: 'Inter', sans-serif;
    color: #18224b;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    bottom: 1120px;
    left: 200px;
}

.mail{
    position: relative;
    bottom: 1124px;
    left: 200px;
    height: 34px;
    font-size: 20px;
    width: 500px;
    border-radius: 5px;

   
}

.third{
    font-family: 'Inter', sans-serif;
    color: #18224b;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    bottom: 1100px;
    left: 200px;
    
}

.msg{
    position: relative;
    bottom: 1020px;
    left: 200px;
    width: 500px;
    height: 200px;
    font-size: 20px;
    text-align:start;
    border-radius: 5px;

}

.submit{
    position: relative;
    bottom: 1070px;
    left: 950px;
    width: 150px;
    height: 50px;
    background-color: #18224b;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    border: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;

}

.submit:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.reset{
    position: relative;
    bottom: 1070px;
    left: 980px;
    width: 150px;
    height: 50px;
    background-color: #18224b;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: #ffffff;
    cursor: pointer;
    transition: transform .2s;
}

.reset:hover{
    transform: scale(1.05);
    opacity: 0.9;
}

.bottom{
    background-color: #000000;
    width: 1528px;
    height: 500px;
    position: relative;
    right: 8px;
    bottom: 1000px;
}

.logo_{
    position: relative;
    right: 30px;
    bottom: 102px;
    width: 350px;
    height: 350px;
}

.bg{
    height: 400px;
    width: 700px;
    position: relative;
    left: 450px;
    top: 44px;
}

.what{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    position: relative;
    bottom: 315px;
    left: 450px;
}

.this{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    bottom: 271px;
    left: 360px;

}

.product2{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 1318px;
    left: 130px;
    transition: transform .2s;

}

.vision2{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 1300px;
    left: 140px;
    transition: transform .2s;
}

.contri2{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 1280px;
    left: 122px;
    transition: transform .2s;
}

.support2{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 1260px;
    left: 130px;
    transition: transform .2s;
}

.copy{
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: 1300px;
    left: 385px;
}

.product2:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.vision2:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.contri2:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.support2:hover{
    transform: scale(1.01);
    opacity: 0.9;
}