@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    overflow-x: hidden;
}



.logo{
    height: 350px;
    width: 350px;
    position: relative;
    bottom: 758px;
    right: 8px;
    transform: transition .2s;
}

.container{
    background-color: #000000;
    height: 650px;
    width: 1528px;
    position: relative;
    right: 8px;
    bottom: 8px;

}

.products{
    position: relative;
    bottom: 965px;
    left: 880px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-weight: 700;
    transition: transform .2s;
}

.products:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.vision{
    position: relative;
    bottom: 1007px;
    left: 1030px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ffffff;
    transition: transform .2s
}

.vision:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.contri{
    position: relative;
    bottom: 1050px;
    left: 1150px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ffffff;
    transition: transform .2s;
}

.contri:hover{
    transform: scale(1.01);
    opacity: 0.9;
}

.support{
    position: relative;
    bottom: 1090px;
    left: 1300px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ffffff;
    transition: transform .2s;
}

.support:hover{
    transform: scale(1.01);
    opacity: 0.9;
}


.line{
    background-color: #ffffff;
    position: relative;
    bottom: 1465px;
    right: 100px;
    width: 1610px;
}

.back{
    position: relative;
    bottom: 1000px;
    left: 800px;
    width: 700px;
    height: 400px;
}

.waitlist{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 60px;
    position: relative;
    bottom: 1430px;
    color: #ffffff;
    left: 150px;
}

.fill{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 40px;
    position: relative;
    bottom: 1420px;
    left: 70px;
    color: #ffffff;


}